__pycache__/
*.pyc
venv/
kubectl
*.deb
terrascan
terrascan.tar.gz
.scannerwork/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Robusta secrets
robusta/values-local.yaml
robusta/generated_values.yaml
robusta/robusta-secrets.yaml
